.cs-pointer{
    cursor: pointer;
}
.cs-containder{
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    margin-top: 10px !important;
}
.cs-data-input-nav{
    margin-top: 0.5%;
}
.cs-input-group-text{
    width: 20%;
}
.cs-data-input {
    margin-bottom: 1% !important;
}
.cs-client-content {
    height: 320px;
    overflow: auto;
}
.cs-view-detail {
    border: 0.5px solid #bf7b7b;
    margin: 0.5%;
    padding: 0.5%;
    border-radius: 1%;
    float: left;
}
.cs-view{
    height: 780px;
    overflow: auto;
}
.cs-view .cs-view-title{
    text-align: center;
}
.cs-view .cs-view-detail .cs-view-detail-content{
    border: 1px solid #ccc;
    position: relative;
    height: 720px;
    width: 360px;
}
.cs-view .cs-view-detail .cs-view-detail-content .rect-item{
    border: 1px solid #ccc;
    border-style: dashed;
    position: absolute;
    padding-left: 1%;
    background-color: azure;
}
.cs-summary .cs-summary-value{
    color: red;
}
.area-action-header{
    margin-bottom: 3px;
}
.cs-float-left{
    float: left;
    margin: 1px;
}
.cs-float-right{
    float: right;
    margin: 1px;
}
